frontend/node_modules/**/*
frontend/.expo/*
frontend/npm-debug.*
frontend/*.jks
frontend/*.p8
frontend/*.p12
frontend/*.key
frontend/*.mobileprovision
frontend/*.orig.*
frontend/web-build/

# macOS
frontend/.DS_Store


# Compiled JavaScript files
**/*.js
**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
functions/node_modules/
